# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# OS/files
.DS_Store
Thumbs.db

# Data/cache
*.log
*.tmp
*.tsv
*.csv
!CAvideos.csv


